version: "3.9"

services:
  db:
    image: postgres:13.0-alpine
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./.env

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
    links:
      - redis

  redis:
    image: redis:alpine

  celery:
    build: .
    command: celery -A market_watcher worker --loglevel=debug
    volumes:
      - .:/code
    env_file:
      - ./.env
    links:
      - redis
    depends_on:
      - redis
      - db

  celery-beat:
    build: .
    command: celery -A market_watcher worker --loglevel=debug -B
    volumes:
      - .:/code
    env_file:
      - ./.env
    links:
      - redis
    depends_on: 
      - redis
      - db



volumes:
  postgres_data:
